/* Primeiro, resete as margens e preenchimentos de todos os elementos para garantir uma base consistente em todos os navegadores. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

:root {
  /* Variaveis Globais de Cores */
  --brand-color-light: #60A5FA;
  --brand-color-dark: #1D4ED8;
  --bg-color: #0F172A;
  --stroke-color: #1E293B;
  --text-color-primary: #F1F5F9;
  --text-color-secondary: #CBD5E1;

  /* Variaveis Globais de Fontes */
  --font-family: 'Archivo', sans-serif;
  --h1: 800 24px/135% var(--font-family);
  --h2: 800 16px/140% var(--font-family);
  --h3: 800 14px/140% var(--font-family);
  --text-span: 600 14px/145% var(--font-family);
  --text: 400 16px/140% var(--font-family);
  --text-sm: 400 14px/160% var(--font-family);
}

body {
  font: var(--text); /* Aplica a fonte padrão definida na variável --text */
  background-color: var(--bg-color); /* Puxa a cor de fundo definida */
  color: var(--text-color-primary); /* Puxa a cor da fonte primária */
}

a {
  text-decoration: none; /* Remove o sublinhado padrão dos links */
  color: inherit; /* Herda a cor do elemento pai */
}

a:hover {
  color: var(--brand-color-light); /* Define a cor do link ao passar o mouse */
}

h1, h2, h3 {
  font: inherit; /* Herda a fonte definida no body */
}

.container {
  max-width: 1200px; /* Define uma largura máxima para o container */
  padding-inline: 32px; /* Adiciona preenchimento horizontal */
  margin-inline: auto; /* Centraliza o container horizontalmente */
}

img {
  max-width: 100%; /* Garante que as imagens não excedam a largura do container */
}

main {
  margin-block: 40px; /* Adiciona uma margem ao main */
  row-gap: 80px; /* Define um espaçamento entre as linhas do grid */
  column-gap: 32px; /* Define um espaçamento entre as colunas do grid */

  grid-template-columns: 2fr 1.5fr; /* Define duas colunas, a primeira com 2/3 da largura e a segunda com 1/3 */

  grid-template-areas: 
  "featured featured"
  "weekly weekly"
  "ai aside";
}

.content-tag {
  display: inline-block; /* Exibe o elemento como um bloco em linha */
  background-color: var(--brand-color-dark); /* Define a cor de fundo do tag */
  padding: 4px 8px; /* Adiciona preenchimento interno */
  border-radius: 4px; /* Arredonda os cantos do tag */
  font: 500 10px/1.2 var(--font-family); /* Define a fonte do tag */
  text-transform: uppercase; /* Transforma o texto para maiúsculas */ 
  letter-spacing: 0.04em; /* Adiciona espaçamento entre as letras */
  color: var(--text-color-primary); /* Define a cor do texto do tag */
  box-shadow: 0px 4px 16px 0px rgba(2, 6, 23, 0.251); /* Adiciona uma sombra ao redor do tag */
}