
section header {
  border-top: 1px solid var(--stroke-color); /* Adiciona uma borda superior ao header da seção */
  padding-block: 12px 24px; /* Adiciona preenchimento vertical ao header da seção */
  font: var(--text-span); /* Aplica a fonte definida para span */

  a {
    justify-self: end;
    align-items: center; /* Alinha os itens do link verticalmente ao centro */
    gap: 8px; /* Adiciona um espaçamento de 8px entre os itens do link */

    span {
      background-image: url(../assets/icons/ArrowRight.svg); /* Define a imagem de fundo do span */
      height: 16px; /* Define uma altura fixa para o span */
      width: 16px; /* Define uma largura fixa para o span */
    }

    &:hover span {
      background-image: url(../assets/icons/ArrowRight-hover.svg); /* Altera a imagem de fundo do span ao passar o mouse */
    }
  }
}

#featured {
  grid-area: featured; /* Define a área do grid para o destaque */
  img {
    height: 100%; /* Garante que a imagem ocupe toda a altura do card */
    object-fit: cover; /* Garante que a imagem cubra todo o espaço disponível */
    
  }

  .card {
    position: relative; /* Posiciona o card de forma relativa para que o pseudo-elemento possa ser posicionado em relação a ele */
    border-radius: 4px; /* Adiciona bordas arredondadas às imagens */
    overflow: hidden; /* Garante que o conteúdo que ultrapassar os limites do card seja ocultado */


    &::before {
      content: ""; /* Adiciona um conteúdo vazio */
      position: absolute; /* Posiciona o pseudo-elemento de forma absoluta em relação ao seu pai */
      inset: 0; /* Define as bordas superior, direita, inferior e esquerda como 0 */
      top: 50%; /* Centraliza verticalmente o pseudo-elemento */

      background: linear-gradient( /*Aplica um background, criando uma transição suave de cores ao longo de um eixo especificado.*/
        180deg,
        transparent 0%,
        #020617 100%
      ); 
    }

    figcaption {
      position: absolute; /* Posiciona a legenda de forma absoluta em relação ao seu pai */
      bottom: 0; /* Posiciona a legenda na parte inferior do card */

      padding: 24px; /* Adiciona um espaçamento interno de 24px */

      &:has(.text-lg) {
        padding: 12px; /* Se o card tiver um elemento com a classe text-lg, aplica um padding de 12px */
      }

      h2 {
        margin-top: 8px; /* Adiciona uma margem superior de 8px */
      }
    }
  }
}

#weekly {
  grid-area: weekly; /* Define a área do grid para a seção semanal */

  &>div {
    grid-template-columns: repeat(4, 1fr); /* Define quatro colunas de igual largura */
  }

  img {
    height: 160px; /* Define uma altura fixa para as imagens */
  }

  figure {
    position: relative; /* Posiciona o elemento de forma relativa para que o pseudo-elemento possa ser posicionado em relação a ele */

    .content-tag {
      position: absolute; /* Posiciona o tag de forma absoluta em relação ao seu pai */
      top: 8px; /* Posiciona o tag a 8px do topo */
      left: 8px; /* Posiciona o tag a 8px da esquerda */
    }

    p {
      margin-top: 8px; /* Adiciona uma margem superior de 8px */
      font-weight: 800; /* Define o peso da fonte como 800 */
    }
  }
}

#ai {
  grid-area: ai; /* Define a área do grid para a seção de IA */

  img {
    width: 176px; /* Define uma largura fixa para as imagens */
    aspect-ratio: 1 / 1; /* Define uma proporção de aspecto de 1:1 para as imagens */
    object-fit: cover; /* Garante que a imagem cubra todo o espaço disponível */
  }

  h3 {
    margin-block: 8px 4px; /* Adiciona uma margem vertical de 8px no topo e 4px na parte inferior */
  }
}

aside {
  grid-area: aside; /* Define a área do grid para o aside */
}

#more {

  margin-top: 32px; /* Adiciona uma margem superior de 32px */

  h3 {
    margin-top: 8px; /* Adiciona uma margem superior de 8px */
  }

  img {
    width: 72px; /* Define uma largura fixa para as imagens */
    aspect-ratio: 1 / 1; /* Define uma proporção de aspecto de 1:1 para as imagens */
    object-fit: cover; /* Garante que a imagem cubra todo o espaço disponível */
  }
}